/* generlazing all font family will be tahoma */
h1, h2, h3, h4, h5, h6, p, ul, li {
  /*font-family: Helvetica;*/
  font-family: 'Lato', sans-serif;
}

/*
for logo
font-family: 'Orbitron', sans-serif;
for other
font-family: 'Lato', sans-serif;
*/

/* --- navigation --- */
nav.navbar {
  /*background-color: rgba(0, 0, 0, 1);*/
  background-color: transparent;
  box-shadow: none;
  border: none;
  z-index: 999999;
  padding-top: 20px;
  padding-bottom: 0px;
  height: 63px;
}

/*#sidenav-overlay {
  z-index: 90
}*/

/*nav a i#fixside {
  color: #fffffa;
}*/

nav.navbar div a#logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  /*color: #D90429;*/
  color: #fffffa;
  padding-left: 10px;
  padding-top: 10px;
}

nav.navbar ul.nav li a {
  /*font-weight: bold;*/
  font-family: 'Orbitron', sans-serif;
  color: #fffffa;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav.navbar ul.nav li a:hover {
  color: #fffffa;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 7px;
}

nav.navbar button.navbar-toggle {
  margin-top: -5px;
  border: none;
}

nav.navbar button.navbar-toggle i {
  font-size: 25px;
  color: #fffffa;
}

/*nav.navbar button:hover {
  background-color: transparent;
  border: 2px solid red;

}
*/
nav.navbar ul.nav {
  z-index: 999;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  background-color: transparent;
  margin-top: 0px;
}

nav.navbar ul.nav li a {
  color: #edf2f4;
}

/*nav.navbar ul.nav li a:hover {
  background-color: rgba(64, 64, 64, 0.7);
  color: #ffffff;
  font-weight: bold;
}*/

/* --------- media quires ---------- */
@media all and (max-width: 767px) {
  nav.navbar ul.nav {
  z-index: 999;
  background-color: rgba(0, 0, 0, 1);
  /*background-color: transparent;*/
  margin-top: 0px;
  }
}

@media all and (max-width: 468px) {
  nav.navbar div a#logo {
    font-size: 30px;
    padding-top: 3px;
  }

  nav.navbar button.navbar-toggle i {
    font-size: 22px;
  }
}

/* -------- footer -------- */
footer {
  z-index: -99;
  /*position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow:hidden;*/
  text-align: center;
  /*margin-top: 15px;*/
  padding-top: 15px;
  padding-bottom: 15px;
  background: #1a1a1a;
}

footer div#disclaimer p {
  color: #a1a1a1;
  font-size: 12px;
  line-height: 18px;
}

/* --------- media quires ---------- */
@media all and (max-width: 468px) {
  footer div#disclaimer p {
    padding-right: 25px;
    padding-left: 25px;
  }
}


/* ----------------------------------------- index.php --------------------------- */
body#homebd {
  background-color: #000000;
}

div#homehero {
  margin-top: 120px;
  /*border: 2px solid blue;*/
}

/* --- svg draw --- */
svg {
  background-color: transparent;
}
  .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill:transparent;
  }
  
  .st1 {
    fill: transparent;
  }
  
  .st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 1;
    stroke-miterlimit: 10;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: dash 4s cubic-bezier(0.27, -0.12, 0.58, 1) 0.5s alternate infinite,
      back 4s cubic-bezier(0.27, -0.12, 0.58, 1) 4s alternate infinite;
  }
  
  @keyframes dash {

    to {
      stroke-dashoffset: 0; 
    }
  }
@keyframes back {
  
  to{fill:transparent;}
}

/* --- welco svg --- */
div#welco {
  /*width: 80%;*/
  margin-top: 40%;
  margin-left: -10%;
}

div#welco .st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 2.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: dash 4s cubic-bezier(0.27, -0.12, 0.58, 1) 0.5s alternate infinite,
      back 4s cubic-bezier(0.27, -0.12, 0.58, 1) 4s alternate infinite;
  }

/* --- end of svg draw --- */ 

div#homecont {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
  /*border: 2px solid red;*/
}

div#homecont p {
  color: #efefef;
  font-size: 20px;
  line-height: 37px;
  padding-right: 60px;
  padding-left: 60px;
  font-weight: 300;
}

/* ------ media queries ------ */
@media all and (max-width: 768px) {
  div#homecont p {
    font-size: 21px;
  }
}

@media all and (max-width: 767px) {
  div#welco {
    margin-top: 17%;
    margin-left: 0px;
    margin-bottom: 9%;
  }

}

@media all and (max-width: 500px) {
  div#welco {
    margin-top: 15%;
    margin-left: 0px;
    margin-bottom: 9%;
  }

  div#homecont {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  div#homecont p {
    padding-right: 40px;
    padding-left: 40px;
  }

}

@media all and (max-width: 468px) {
  div#homecont p {
    font-size: 16px;
    line-height: 27px;
  }

}

/* ---------------------------- history -------------------------- */
body#historybd {
  background-color: #000000;
}

div#historycontent h1 {
  font-family: 'Orbitron', sans-serif;
  color: #efefef;
  text-align: center;
  text-transform: uppercase;
  margin-top: 200px;
}

div#historycontent h5 {
  color: #efefef;
  text-align: center;
  font-size: 16px;
  margin-top: 100px;
  line-height: 22px;
}

/* ----- arrow ----- */
.arrow {
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  background-image: url(../images/arrow01.png);
  background-size: contain;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.fade {
  opacity:0;
  transition: 1s all ease-out;
}

/* media queries for fixing the hieght */
/*@media all and (max-width: 992px) {
  .arrow {
    bottom: 205px;
  }
}

@media all and (max-width: 850px) {
  .arrow {
    bottom: 255px;
  }
}

@media all and (max-width: 768px) {
  .arrow {
    bottom: 335px;
  }
}

@media all and (max-width: 620px) {
  .arrow {
    bottom: 405px;
  }
}

@media only screen and (max-width: 500px) {
  .arrow {
    bottom: 425px;
  }
} */

/*@media all and (max-width: 468px) {
  .arrow {
    bottom: 125px;
  }
}*/

/*@media all and (max-width: 368px) {
  .arrow {
    bottom: 495px;
  }
}
*/


.wrapper {
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #fff;
  position: relative;
}

div#histotime section {
  height: 100vh;
  /*font-size: 40px;*/
  font-weight: 100;
  background-color: #22A7F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#histotime section:nth-child(1) {
  background: white;
}

div#histotime section:nth-child(2) {
  /*background: #222222;*/
  background: -webkit-linear-gradient(#000000, #101010); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000000, #101010); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000000, #101010); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000000, #101010); /* Standard syntax */
  margin-top: 300px;
}

div#histotime section:nth-child(3) {
  /*background: #383838;*/
  background: -webkit-linear-gradient(#101010, #202020); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#101010, #202020); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#101010, #202020); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#101010, #202020); /* Standard syntax */
}

div#histotime section:nth-child(4) {
  /*background: #4e4e4e;*/
  background: -webkit-linear-gradient(#202020, #303030); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#202020, #303030); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#202020, #303030); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#202020, #303030); /* Standard syntax */
}

div#histotime section:nth-child(5) {
  /*background: #646464;*/
  background: -webkit-linear-gradient(#303030, #404040); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#303030, #404040); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#303030, #404040); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#303030, #404040); /* Standard syntax */
}

div#histotime section:nth-child(6) {
  /*background: #7a7a7a;*/
  background: -webkit-linear-gradient(#404040, #505050); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#404040, #505050); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#404040, #505050); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#404040, #505050); /* Standard syntax */
}

div#histotime section:nth-child(7) {
  /*background: #909090;*/
  background: -webkit-linear-gradient(#505050, #606060); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#505050, #606060); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#505050, #606060); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#505050, #606060); /* Standard syntax */
}

div#histotime section:nth-child(8) {
  /*background: #a6a6a6;*/
  background: -webkit-linear-gradient(#606060, #707070); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#606060, #707070); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#606060, #707070); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#606060, #707070); /* Standard syntax */
}

div#histotime section:nth-child(9) {
  /*background: #a6a6a6;*/
  background: -webkit-linear-gradient(#707070, #808080); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#707070, #808080); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#707070, #808080); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#707070, #808080); /* Standard syntax */
}

div#histotime section:nth-child(10) {
  /*background: #a6a6a6;*/
  background: -webkit-linear-gradient(#808080, #909090); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#808080, #909090); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#808080, #909090); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#808080, #909090); /* Standard syntax */
}

div#histotime section:nth-child(11) {
  /*background: #a6a6a6;*/
  background: -webkit-linear-gradient(#909090, #a0a0a0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#909090, #a0a0a0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#909090, #a0a0a0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#909090, #a0a0a0); /* Standard syntax */
}

div#histotime section:nth-child(12) {
  /*background: #a6a6a6;*/
  background: -webkit-linear-gradient(#a0a0a0, #b0b0b0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a0a0a0, #b0b0b0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a0a0a0, #b0b0b0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a0a0a0, #b0b0b0); /* Standard syntax */
}

div#histotime section p span.secitle {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
}

div#histotime section div.imgleft {
  margin-left: -10px;
}

div#histotime section div.pright {
  padding-top: 10%;
}

div#histotime section div#nopad {
  padding-top: 3%;
}

div#histotime section div.imgright {
  margin-left: -70%;
}

div#histotime section div.pleft {
  padding-left: 10%;
  padding-top: 5%;
}

div#histotime section p {
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  padding-left: 50px;
  /*padding-top: 150px;*/
  /*border:2px solid blue;*/
}

div#histotime section div.polaroid {
  position: relative;
  width: 220px;
}
 
div#histotime section div.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

div#histotime section div.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 15px/3 'Orbitron', sans-serif;
  color: #888;
}
 
div#histotime section div.polaroid p.fixp {
  line-height: 20px;
}

div#histotime .nav__wrapper {
  /*border:1px solid red;*/
  margin-top: 0px;
  position: fixed;
  height: 100%;
  padding-left: 30px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div#histotime .nav {
  margin: 0 0 100px 30px;
}

div#histotime .nav__counter {
  font-size: 18px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/*div#histotime .nav__title {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}

div#histotime .nav__body {
  font-weight: 100;
  font-size: 18px;
  font-size: 18px;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}*/

div#histotime .nav li {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}

div#histotime .nav li:after {
  content: '';
  display: block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}

div#histotime .nav li a {
  display: block;
  padding: 0;
  color: #fff;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

div#histotime .nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}

div#histotime .nav li a:focus {
  background-color: transparent;
}

div#histotime .nav li.active {
  pointer-events: none;
  padding-left: 1em;
}

div#histotime .nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
}

div#histotime .nav li.active .nav__counter {
  font-size: 48px;
}

/*div#histotime .nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}

div#histotime .nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}*/

/* -- back to top button -- */
.back-to-top {
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;  
  padding: 0.5em;
  margin: 0.5em;
  /*background: #E8E8E8;
  border: 2px solid #000;*/
  color: #ffffff;
  font-size: 25px;
}

.back-to-top:hover {
  cursor: pointer;
  zoom: 115%;
  /*border: 1px solid #ffffff;
  border-radius: 7px;*/
}

/* ------------ media quires for sizing ------------- */
/* media queries for fixing the hieght */
@media all and (max-width: 1150px) {
  div#histotime section div.imgleft {
    margin-left: 0px;
    /*border:2px solid red;*/
  }

  div#histotime section div.pright {
    padding-top: 10%;
    padding-left: 15%;
  }

  div#histotime section div#nopad {
    padding-top: 0px;
  }

  div#histotime section div.imgright {
    margin-left: -30%;
  }

  div#histotime section div.pleft {
    padding-left: 10%;
    padding-top: 3%;
  }
}

@media all and (max-width: 992px) {
  div#histotime section p {
    font-size: 19px;
    line-height: 30px;
    padding-left: 30px;
  }

  div#histotime section p span.secitle {
    font-size: 24px;
    padding-bottom: 40px;
  }

  div#histotime section div.imgleft {
    margin-left: 0px;
    /*border:2px solid green;*/
  }

  div#histotime section div.pright {
    padding-top: 10%;
    padding-left: 10%;
  }

  div#histotime section div#nopad {
    padding-top: 0px;
  }

  div#histotime section div.imgright {
    margin-left: -10%;
  }

  div#histotime section div.pleft {
    padding-left: 0%;
    margin-left: -10%;
    padding-top: 3%;
  }


  div#histotime .nav__counter {
    font-size: 17px;
  }

  div#histotime .nav li.active .nav__counter {
    font-size: 35px;
  }
}

@media all and (max-width: 768px) {
  .arrow {
    bottom: 50px;
  }

  div#histotime section p {
    font-size: 17px;
    line-height: 30px;
    padding-left: 10px;
  }

  div#histotime section p span.secitle {
    font-size: 23px;
  }

  div#histotime section div.polaroid img {
    width: 200px;
  }

  div#histotime section div.polaroid p {
    font: 400 13px/4 'Orbitron', sans-serif;
    margin-left: -15px;
  }

  div#histotime section div.polaroid p.fixp {
    line-height: normal;
    font: 400 13px/3 'Orbitron', sans-serif;
  }

  div#histotime section div.imgleft {
    margin-left: 30%;
    /*border:2px solid blue;*/
  }

  div#histotime section div.pright {
    padding-top: 5%;
    padding-left: 0%;
  }

  div#histotime section div#nopad {
    padding-top: 5%;
  }

  div#histotime section div.imgright {
    margin-left: 30%;
  }

  div#histotime section div.pleft {
    margin-left: 0%;
    padding-top: 0%;
    padding-bottom: 5%;
  }

  div#histotime .nav__wrapper {
    margin-top: -50px;
  }

  div#histotime .nav__counter {
    font-size: 16px;
  }

  div#histotime .nav li.active .nav__counter {
    font-size: 27px;
  }

}

@media all and (max-width: 500px) {
  .arrow {
    bottom: 50px;
  }

  div#historycontent h5 {
    margin-top: 50px;
  }

  div#histotime section p {
    font-size: 15px;
    line-height: 26px;
    padding-left: 10px;
  }

  div#histotime section p span.secitle {
    font-size: 21px;
    padding-bottom: 30px;
  }

  div#histotime section div.polaroid img {
    width: 175px;
  }

  div#histotime section div.polaroid p {
    font: 400 10px/4 'Orbitron', sans-serif;
    margin-left: -30px;
  }

  div#histotime section div.polaroid p.fixp {
    line-height: normal;
    font: 400 10px/4 'Orbitron', sans-serif;
  }

  div#histotime section div.imgleft {
    margin-left: 19%;
    /*border:2px solid pink;*/
  }

  div#histotime section div.pright {
    padding-top: 5%;
    padding-left: 0%;
  }

  div#histotime section div#nopad {
    padding-top: 5%;
  }

  div#histotime section div.imgright {
    margin-left: 19%;
  }

  div#histotime section div.pleft {
    margin-left: 0%;
    padding-top: 0%;
    padding-bottom: 5%;
  }

  div#histotime .nav__wrapper {
    margin-top: -90px;
  }

  div#histotime .nav__counter {
    font-size: 15px;
  }

  div#histotime .nav li.active .nav__counter {
    font-size: 25px;
  }

}

@media all and (max-width: 320px) {
  .arrow {
    bottom: 45px;
  }

  div#histotime section p {
    font-size: 12px;
    line-height: 20px;
    padding-left: 10px;
  }

  div#histotime section p span.secitle {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 15px;
  }

  div#histotime section div.polaroid img {
    width: 125px;
    border-bottom: 25px solid #fff;
  }

  div#histotime section div.polaroid p {
    font: 400 8px/3 'Orbitron', sans-serif;
    margin-left: -53px;
  }

  div#histotime section div.polaroid p.fixp {
    line-height: normal;
    font: 400 8px/3 'Orbitron', sans-serif;
  }

  div#histotime section div.imgleft {
    margin-left: 20%;
    /*border:2px solid brown;*/
  }

  div#histotime section div.pright {
    padding-top: 5%;
    padding-left: 7%;
  }

  div#histotime section div#nopad {
    padding-top: 5%;
  }

  div#histotime section div.imgright {
    margin-left: 20%;
  }

  div#histotime section div.pleft {
    margin-left: 7%;
    padding-top: 0%;
    padding-bottom: 5%;
  }
  div#histotime .nav__wrapper {
    margin-top: -65px;
  }

  div#histotime .nav li.active {
    padding-left: 0.1em;
  }

  div#histotime .nav__counter {
    font-size: 13px;
  }

  div#histotime .nav li.active .nav__counter {
    font-size: 20px;
  }
}

/* --------------------------- game --------------------------- */
body#gamebd {
  background-color: #000000;
}

div#gamecontent {
  clear: both;
}

div#gamecontent h1 {
  font-family: 'Orbitron', sans-serif;
  color: #efefef;
  text-align: center;
  text-transform: uppercase;
  margin-top: 150px;
}

div#gamecontent hr {
  width: 75%;
  border-color: #888888;
}

#quizzie {
  padding: 5% 0;
  /* Individual Steps/Sections */
  /* Content */
}

#quizzie h2 {
  text-transform: normal;
  /*border: 1px solid red;*/
  font-family: 'Lato', sans-serif;
  color: #efefef;
  text-align: center;
  margin-top: -50px;
  font-size: 27px;
}

#quizzie ul {
  list-style: none;
  display: block;
  width: auto;
  margin: 2% 2%;
  padding: 2%;
  overflow: auto;
  display: none;
  /* Step Questions and Answer Options */
}

#quizzie ul.current {
  display: block;
}

#quizzie ul li {
  display: inline-block;
  float: left;
  width: 49%;
  margin-right: 2%;
  overflow: auto;
  text-align: center;
}

#quizzie ul li div h3 {
  font-family: 'Lato', sans-serif;
  color: #cecece;
  font-size: 18px;
  text-transform: capitalize;
}

#quizzie ul li div p {
  font-family: 'Lato', sans-serif;
  color: #cecece;
  font-size: 16px;
  padding-top: 10px;
}

#quizzie ul li.quiz-answer {
  cursor: pointer;
}

#quizzie ul li.question, #quizzie ul li.results-inner {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 2%;
}

#quizzie ul li.results-inner {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: -25px;
}

#quizzie ul li.results-inner p#fixtop {
  margin-top: -4%;
  text-transform: capitalize;
  padding-right: 0;
  padding-left: 0;
}

#quizzie ul li.results-inner h4 {
  font-family: 'Orbitron', sans-serif;
  color: #fffffa;
  font-size: 26px;
  padding-bottom: 2%;
}

#quizzie ul li.results-inner hr {
  width: 50%;
  padding-top: 2%;
}

#quizzie ul li.results-inner p {
  font-family: 'Lato', sans-serif;
  color: #cecece;
  font-size: 18px;
  padding-right: 15%;
  padding-left: 5%;
  padding-top: 2%;
}

#quizzie ul li.results-inner img {
  width: 250px;
  border: 10px solid #ffffff;
  margin-left: -50%;
}

#quizzie ul li.results-inner div#padbottom {
  padding-bottom: 3%;
}

#quizzie ul li:last-child {
  margin-right: 0;
}
#quizzie .question-wrap, #quizzie .answer-wrap {
  display: block;
  padding: 1%;
  margin: 1em 10%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#quizzie .answer-wrap {
  background: rgba(64, 64, 64, 0.7);
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
#quizzie .answer-wrap:hover {
  background: rgba(64, 64, 64, 1);
}


/* ----- media quires ----- */
/* media queries for fixing the hieght */
@media all and (max-width: 992px) {
  #quizzie ul li.results-inner img {
    border: 10px solid #ffffff;
    margin-left: 0%;
  }

  #quizzie ul li.results-inner p {
    padding-right: 7%;
    padding-left: 7%;
  }
}

@media all and (max-width: 768px) {
  div#gamecontent h1 {
    margin-top: 140px;
  }

  div#gamecontent hr {
    width: 85%;
  }

  #quizzie h2 {
    margin-top: 170px;
    font-size: 27px;
  }

  #quizzie {
    padding-top: 0px;
    margin-top: -20%;
  }

  #quizzie h4 {
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }


}

@media all and (max-width: 500px) {
  div#gamecontent h1 {
    margin-top: 120px;
  }

  #quizzie h2 {
    margin-top: 110px;
    font-size: 27px;
    padding-right: 5%;
    padding-left: 5%;
  }

}

@media all and (max-width: 400px) {
  #quizzie h2 {
    margin-top: 110px;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
  }

  #quizzie ul li.results-inner img {
    width: 200px;
  }

  #quizzie ul li.results-inner p {
    font-size: 16px;
  }

  #quizzie ul li.results-inner hr {
    width: 60%;
  }

}